<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf)  {%> 
    <h2>Add a messenger!</h2>
    <form action="/profiles/<%= profile._id %>/messengers" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <button type="submit">Add Messenger</button>
    </form>
    
  <% } %>
  <% if (profile.messengers.length)  {%>
    <h2>
      <%= isSelf ? "You have" : `${profile.name} has` %> messengers! Here they are!
    </h2>
    <% profile.messengers.forEach(messenger => { %>
      <h3>
        <%= getRandomMessenger() %> 
        <%= messenger.name %> 
        <%= getRandomMessenger() %> 

        <% if (isSelf) { %> 
          <form 
            action="/profiles/messengers/<%= messenger._id %>?_method=DELETE" 
            method="POST"
            style="display: inline-block;"
          >
          <button type="submit"> Free <%= messenger.name %></button>
          </form>
          </div>
          <% } %>
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any messengers.
    </h2> 
  <% } %>
</main>

<%- include('../partials/footer') %>