<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome and Merry Met, <%= user ? user.profile.name + "!" : "New Visitor!" %></h1>
  <div>
    <img src="../public/assets/images/TartarSpace.png" alt="Blue Dog in Space">
  </div>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
