<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Update Your Support!</h1>
  <form 
    action="/posts/<%= post._id %>/replies/<%= reply._id %>?_method=PUT"
    method="POST"
  >
    <label>
      Support: 
      <textarea
        cols="30"
        rows="5" 
        type="text"
        name="support" 
        autocomplete="off"
      ><%= reply.support %></textarea>
    </label>
    <button type="submit">✨ Update Support ✨</button>
  </form>
</section>

<%- include('../partials/footer') %>
