<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <div><a href='/posts/'><button class='btn'>⬅Back⬅</button></a>
    </div>
    <section>
      <h1>Update Your Support!</h1>
      <form action='/posts/<%= post._id %>/replies/<%= reply._id %>?_method=PUT' method='POST'>
        <label>
          Support:
          <textarea cols='30' rows='5' type='text' name='content' autocomplete='off'><%= reply.content %></textarea>
        </label>
        <button type='submit' class='btn'>✨ Update Support ✨</button>
      </form>
    </section>

    <%- include('../partials/footer') %>