<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <div><a href='/posts/'><button class='btn'>⬅Back⬅</button></a>
    </div>
    <section>
      <h1>✨ Edit the Monster! ✨</h1>
      <form action='/posts/<%= post._id %>?_method=PUT' method='POST'>
        <label>
          Monster Moment:
          <textarea name='moment' value='<%= post.moment %>''></textarea>
        </label>
        <button type=' submit' class='btn'>✨ Complete Changes ✨</button>
      </form>
    </section>

    <%- include('../partials/footer') %>