<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <div><a href='/posts/''><button>Back</button></a>
    </div>
    <section>
      <h1>
        <%= post.moment %>
      </h1>
      <% post.replies?.forEach(reply=> { %>
        <p>
          <%= reply.content %> - <%= reply.replier.name %>
              <% if (reply.replier._id.equals(user?.profile._id)) { %>
                <form action='/posts/<%= post._id %>/replies/<%= reply._id %>?_method=DELETE' method='POST'>
                  <button>💀 Delete Support 💀</button>
                </form>
                <a href='/posts/<%= post._id %>/replies/<%= reply._id %>/edit' class='btn'>✨ Update Support ✨</a>
                <% } %>
        </p>
        <% }) %>
          <form action='/posts/<%= post._id %>/replies' method='POST'>
            <textarea name='content'></textarea><br>
            <button>🆘 Send Out Support 🆘</button>
          </form>
          <% if (post.owner.equals(user?.profile._id)) { %>
            <a href='/posts/<%= post._id %>/edit'>
              <button class='btn'>✨ Edit This Monster Moment ✨</button>
            </a>
            <form action='/posts/<%= post._id %>?_method=DELETE' method='POST'>
              <button class='btn' type='submit'>💀 Delete this Monster Moment 💀</button>
            </form>
            <% } %>
    </section>

    <%- include('../partials/footer') %>