<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit the Monster! </h1>
  <form 
    action="/monsters/<%= monster._id %>?_method=PUT"
    method="POST"
  >
    <label>
      Name: 
      <input 
        type="text"
        name="name" 
        value="<%= monster.name %>" 
        autocomplete="off"
      >
    </label>
    <button type="submit">Submit New Change</button>
  </form>
</section>

<%- include('../partials/footer') %>