<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Monsters!</h1>
  <% if (user) { %>
    <form action="/monsters" method="POST">
      <label>
        Name:
        <input type="text" name="name" autocomplete="off">
      </label>
      <button type="submit">Add Monster</button>
    </form>
  <% } %>
  <h2>All the Monsters!</h2>
  <ul>
    <% monsters.forEach(monster => { %>
      <li> 
        <a href="/monsters/<%= monster._id %>"><%= monster.name %>
          <% }) %>
        </a> 
      </li>
    </ul> 
</section>

<%- include('../partials/footer') %>