<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>From the words <%= monster.reciever.name %>...</p>
  <h1><%= monster.name %></h1>
  <% monster.messages?.forEach(message => { %>
    <p>
      <%= message.letter %> - <%= message.giver.name %>
      <% if (message.giver._id.equals(user?.profile._id)) { %>
        <a href="/monsters/<%= monster._id %>/messages/<%= message._id %>/edit" class="btn"><br>update s.o.s</a>
        <form action="/monsters/<%= monster._id %>/messages/<%= message._id %>?_method=DELETE" method="POST">
          <button>delete s.o.s </button>
        </form>
      <% } %> 
    </p> 
  <% }) %>
  <% if (monster.reciever.equals(user?.profile._id)) { %>
    <a href="/monsters/<%= monster._id %>/edit">
      <button class="btn">Edit this Monsterous Moment!</button>
    </a>
    <form 
    action="/monsters/<%= monster._id %>?_method=DELETE"
    method="POST"
    >
    <button class="btn" type="submit">Delete this Monstrous Moment!</button>
  </form>
  <br>
  <form action="/monsters/<%= monster._id %>/messages" method="POST">
    <textarea name="letter"></textarea><br>
    <button>S.O.S! Send Out Support!</button>
  </form>
  <% } %>
</section>

<%- include('../partials/footer') %>