<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>From the words <%= monster.reciever.name %>...</p>
  <h1><%= monster.name %></h1>
  <% monster.messages?.forEach(message => { %>
    <p>
      <%= message.letter %> - <%= message.giver.name %>
      <% if (message.giver._id.equals(user?.profile._id)) { %>
        <a href="/monsters/<%= monster._id %>/edit">
          <button class="btn">Edit this Monster</button>
        </a>
        <form action="/monsters/<%= monster._id %>?_method=DELETE" method="POST">
          <button>Delete</button>
        </form>
  <% } %>
</section>

<%- include('../partials/footer') %>